{% extends "catalog.html" %}

{% load checkout_tags %}

{% block content %}

{% if not request.user.is_authenticated %}
<div class="fr">
    <a href="{% url login %}?next={{ request.path }}">
        Have an account?<br />Sign in now!
    </a>
</div>
{% endif %}

<h1>Checkout</h1>{% if error_message %}
    <ul class="errorlist">
        <li>{{ error_message }}</li>
    </ul>
{% endif %}
<form action="." method="post">{% csrf_token %}
    <fieldset class="checkout">
        <legend>Contact Info</legend>
        <table>
            {% form_table_row form.email %}
            {% form_table_row form.phone %}
        </table>
    </fieldset>
    <fieldset class="checkout">
        <legend>Shipping Info</legend>
        <table>
            {% form_table_row form.shipping_name %}
            {% form_table_row form.shipping_address_1 %}
            {% form_table_row form.shipping_address_2 %}
            {% form_table_row form.shipping_city %}
            {% form_table_row form.shipping_state %}
            {% form_table_row form.shipping_zip %}
            {% form_table_row form.shipping_country %}
        </table>
    </fieldset>
    <fieldset class="checkout">
        <legend>Billing Info</legend>
        <table>
            {% form_table_row form.billing_name %}
            {% form_table_row form.billing_address_1 %}
            {% form_table_row form.billing_address_2 %}
            {% form_table_row form.billing_city %}
            {% form_table_row form.billing_state %}
            {% form_table_row form.billing_zip %}
            {% form_table_row form.billing_country %}
        </table>
    </fieldset>
    <fieldset class="checkout">
        <legend>Credit Card Info</legend>
        <table>
            {% form_table_row form.credit_card_number %}
            {% form_table_row form.credit_card_type %}
            {% form_table_row form.credit_card_expire_month %}
            {% form_table_row form.credit_card_expire_year %}
            {% form_table_row form.credit_card_cvv %}
        </table>
    </fieldset>
    <table>
        <tr>
            <th colspan="2"><input type="submit" value="Place Order" class="submit" /></th>
        </tr>
    </table>
</form>
{% endblock %}