{% extends "catalog.html" %}

{% load catalog_filters %}

{% block content %}
<table summary="Your Shopping Cart" id="shopping_cart" border="0">
    <caption>Your Shopping Cart</caption>
    <thead>
    <tr>
        <th scope="col">Product</th>
        <th scope="col">Price</th>
        <th scope="col" class="right">Quantity</th>
        <th></th>
        <th></th>
        <th scope="col" class="right">Total</th>
    </tr>
    </thead>
    <tfoot>
    <tr>
    <th class="right" colspan="5">
        Cart Subtotal:
    </th>
        <th class="right">
            {{ cart_subtotal|currency }}
        </th>
    </tr>
    {% if cart_items %}
    <tr>
        <th class="right" colspan="6">
            <form method="post" action=".">{% csrf_token %}
                <input type="hidden" name="submit" value="Checkout" />
                <!--input type="image" name="Google Checkout" alt="Fast checkout through Google"
                       src="http://sandbox.google.com/checkout/buttons/checkout.gif?merchant_id={{ merchant_id }}
&w=180&h=46&style=white&variant=text&loc=en_US" height="46" width="180" /-->
                <input type="submit" name="submit" value="Checkout" class="submit" alt="Checkout" />
            </form>
        </th>
    </tr>
    {% endif %}
    </tfoot>
    <tbody>
    {% if cart_items %}
        {% for item in cart_items %}
            <tr>
                <td>
                    <a href="{{ item.get_absolute_url }}" class="cart">
                        {{ item.name }}
                    </a>
                </td>
                <td>{{ item.price|currency }}</td>
                <td class="right">
                    <form method="post" action="." class="cart">
                        {% csrf_token %}
                        <input type="text" name="quantity" value="{{ item.quantity }}" id="quantity" 􀀁
                        size="2" class="quantity" maxlength="5" />
                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                </td>
                <td>
                    <input class="update button" type="submit" name="submit" value="Update" />
                    </form>
                </td>
                <td>
                    <form method="post" action="." class="cart">
                        {% csrf_token %}
                        <input type="hidden" name="item_id" value="{{ item.id }}" />
                        <input class="remove button" type="submit" name="submit" value="Remove"/>
                    </form>
                </td>
                <td class="right">{{ item.total|currency }}</td>
            </tr>
        {% endfor %}
    {% else %}
        <tr>
            <td colspan="6" style="height:30px;">
                Your cart is empty.
            </td>
        </tr>
    {% endif %}
    </tbody>
</table>
{% endblock %}