<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "XHTML1-s.dtd" >
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>{% block title %}{% if page_title %}{{ page_title }} - {% endif %}
    {{ site_name }}{% endblock %}</title>
	<meta name="keywords" content="{{ meta_keywords }}" />
	<meta name="description" content="{{ meta_description }}" />
    <link rel="Stylesheet" type="text/css" href="{{ STATIC_URL }}css.css" />
    <link rel="shortcut icon" href="{{ STATIC_URL }}images/favicon.png" type="image/x-icon" />
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    {% block add_head %}{% endblock %}
</head>
<body>
	{% block site_wrapper %}{% endblock %}
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-1.7.2.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/jquery-ui-1.8.18.custom.min.js"></script>
    <script type="text/javascript" src="{{ STATIC_URL }}js/scripts.js"></script>
</body>
</html>
