{% extends "catalog.html" %}

{% block title %}{{ page_title }}{% endblock %}

{% block content %}
    <h1>Test page</h1>

    <p>
    <input type="button" class="submit" value="Click Me!" onclick="test()">
    </p>
{% endblock %}