<div class="review">
    <div class="review-title">
        Rating: {{ review.rating }}
        <strong>{{ review.title }}</strong>
        by {{ review.user.username }}
    </div>
    {{ review.content|linebreaks }}
</div>