{% extends "catalog.html" %}
{% load catalog_filters %}

{% block content %}
    <div id="product_image" >
        <img src="{{ p.image.url }}" alt="{{ p.name }}" />
        {{ p.image_caption }}
    </div>
    <h1>{{ p.name }}</h1>
    Brand: <em>{{ p.brand }}</em>
    <br /><br />
    SKU: {{ p.sku }}
    <br />
    In categor{{ categories.count|pluralize:"y,ies" }}:
    {% for c in categories %}
        <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
        {% if not forloop.last %}, {% endif %}
    {% endfor %}
    <br /><br />
    {% if p.sale_price %}
        Was: <del>{{ p.old_price|currency }}</del>
        <br />
        Now: {{ p.price|currency }}
    {% else %}
        Price: {{ p.price|currency }}
    {% endif %}
    <br /><br />
    {% comment %}<form method="post" action="." class="cart">{% csrf_token %}
        {{ form.as_p }}
        <br />
        <input id="add_to_cart" type="submit" value="Add To Cart" name="submit" alt="Add To Cart" class="submit" />
        <div id="cart_errors"></div>
    </form>
    {% endcomment %}
    <div id="cart-form">
        <div id="cart-errors"></div>
        {{ form.as_p }}
        <br />
        <input id="add_to_cart" type="submit" value="Add To Cart" name="submit" alt="Add To Cart" class="submit" />
    </div>
    <div class="cb"><br /><br /></div>
    <h3>Related Products</h3>
    {% for p in p.cross_sells_hybrid %}
        {% include 'tags/product_thumbnail.html' %}
    {% empty %}
        No related products.
    {% endfor %}
    <div class="cb"><br /><br /></div>
    <h3>Product Description</h3>
    {{ p.description }}

    <div class="cb"><br /><br /></div>
    <h3>Product Tags</h3>
    <div id="tags">
        {% for tag in p.tags %}
            {% include 'catalog/tag_link.html' %}
        {% endfor %}
    </div>
    <br />
    {% if request.user.is_authenticated %}
        <label for="id_tag">Tag this product (must be at least three
            characters):</label>
        <br />
        <input id="id_tag" type="text" />
        <input type="submit" value=" Tag It " id="add_tag" />
    {% else %}
        <a href="{% url login %}?next={{ request.path }}">
            Log in to tag this product.
        </a>
    {% endif %}
    <div class="cb"><br /><br /></div>

    <div class="cb"><br /><br /></div>
    <h3>Product Reviews</h3>
    {% if request.user.is_authenticated %}
        <a id="add_review">Write a Review</a>
        <div id="review_form">
            <div id="review_errors"></div>
            <table>
                {{ review_form.as_table }}
                <tr><td colspan="2">
                    <input type="hidden" id="id_slug" value="{{ p.slug }}" />
                    <input type="submit" id="submit_review" value="Submit" />
                    <input type="submit" id="cancel_review" value="Cancel" />
                </td></tr>
            </table>
        </div>
    {% else %}
        <a href="{% url login %}?next={{ request.path }}">
            Log in to write your own review.
        </a>
    {% endif %}
    <div class="cb"></div>
    <div id="reviews">
        {% for review in product_reviews %}
            {% include 'catalog/product_review.html' %}
        {% empty %}
            <div id="no_reviews">
                No product reviews yet.
            </div>
        {% endfor %}
    </div>
    <div class="cb"><br /><br /></div>
{% endblock %}