{% extends "catalog.html" %}

{% load tagging_tags %}

{% block content %}
    <h1>Product Tag Cloud</h1>
    {% for tag in product_tags %}
        <a href="/tag/{{ tag.name }}/" style="font-size:
                {{ tag.font_size|add:"11" }}px;">{{ tag.name }}</a>&nbsp;
    {% endfor %}
{% endblock %}