{% load humanize catalog_filters %}

{% with cart_item_count as cart_count %}
    <a href="{% url show_cart %}">
        Shopping Cart
        <br />
        <span id="cart-items-count">{{ cart_count }}</span> Item{{ cart_count|pluralize }}<br />
        Subtotal: <span id="cart-subtotal">{{ cart_subtotal|currency }}</span>
    </a>
{% endwith %}