{% load thumbnail %}

<div class="product_thumbnail">
    <a href="{{ p.get_absolute_url }}">
        {% thumbnail p.image "100x100" as im %}
        <img src="{{ im.url }}" alt="{{ p.name }}" class="bn" />
        {% endthumbnail %}
        <br />
        {{ p.name }}
    </a>
</div>
