<form id="search" action="{% url search_results %}" method="get">
    <h3><label for="id_q">Search</label></h3>
    <div style="text-align:right;">
        {{ form.q }}
        <input type="submit" value="Search" />
    </div>
</form>