{% extends "catalog.html" %}

{% block content %}
{% if form.errors %}
    <ul class="errorlist">
        <li>You entered an invalid username or password.</li>
    </ul>
    <br />
{% endif %}
<form method="post" action="{% url django.contrib.auth.views.login %}">{% csrf_token %}
<table summary="Login" id="login">
    <caption>Login</caption>
    <tr>
        <td>{{ form.username.label_tag }}:</td>
        <td>{{ form.username }}</td>
    </tr>
    <tr>
        <td>{{ form.password.label_tag }}:</td>
        <td>{{ form.password }}</td>
    </tr>
    <tr>
        <td colspan="2" class="right">
            <input type="submit" value="Login" />
        </td>
    </tr>
</table>
<input type="hidden" name="next" value="{{ next }}" />
</form>
{% endblock %}
