{% extends "catalog.html" %}

{% block content %}
<form action="." method="post">{% csrf_token %}
    <table>
        <caption>Change Password</caption>
        {{ form.as_table }}
        <tr>
            <td colspan="2" class="right">
                <input type="submit" name="submit" value="Change" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}