{% extends "catalog.html" %}
{% block content %}
<form action="." method="post">{% csrf_token %}
    <table summary="Register" id="register">
        <caption>Sign Up For Your Account</caption>
        {{ form.as_table }}
        <tr>
            <th></th>
            <td>
                <input type="submit" name="submit" value="Register" />
            </td>
        </tr>
    </table>
</form>
{% endblock %}
